*{
    margin: 0;
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}

.btn-primary{
    border-radius: 5px;
    background: orangered;
    height: 50px;
    border: 0;
    padding: 20px;
    color: #FFF8F3;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
span{
    color: orangered;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
 /* Banner divided Section */
 .banner{
    margin: 0 150px;
    display: flex;
    align-items: center;
 }
.banner-sub-title{
    font-size: 45px;
    height: 500;
}
.banner-title{
    font-size: 45px;
    height: 800;

}
.banner-description{
    color: #757575;
}